/* Yellow Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #9a8700;
  --primary-hover: #cdb300;
  --primary-focus: rgba(154, 137, 0, 0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
  --target: #133cdb26;
}

/* Yellow Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #ffe953;
    --primary-hover: #ffeb3b;
    --primary-focus: rgba(253, 216, 53, 0.25);
    --primary-inverse: rgba(0, 0, 0, 0.75);
    --background-color: #1e202a;
    --code-background-color: #2b2e3b;
    --target: #373526;
  }
}

/* Yellow Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #ffe953;
  --primary-hover: #ffeb3b;
  --primary-focus: rgba(253, 216, 53, 0.25);
  --primary-inverse: rgba(0, 0, 0, 0.75);
  --background-color: #1e202a;
  --code-background-color: #2b2e3b;
  --target: #373526;
}

/* Yellow (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0.2rem;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --keyword: #5e8f60;
  --specialKeyword: black;
  --identifier: #222;
  --comment: #484a86;
  --operator: #155da4;
  --punctuation: black;
  --other: black;
  --escapeSequence: #c4891b;
  --number: #252dbe;
  --literal: #a4255b;
  --program: #6060c0;
  --option: #508000;
  --raw-data: #a4255b;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --number: #bd93f9;
    --identifier: #fff;
    --keyword: #ff79c6;
    --literal: #f1fa8c;
    --escapeSequence: #bd93f9;
    --operator: #ff79c6;
    --importPunctuation: #ff79c6;
    --punctuation: var(--color);
    --comment: #6272a4;
    --procdef: #a0da2e;
    --specialKeyword: #8be9fd;
    --raw-data: #f1fa8c;
  }
}
span.SpecialKeyword {
  color: var(--specialKeyword); }
span.ProcDef {
  color: var(--procdef); }
span.DecNumber {
  color: var(--number); }
span.BinNumber {
  color: var(--number); }
span.HexNumber {
  color: var(--number); }
span.OctNumber {
  color: var(--number); }
span.Bool {
  color: var(--number); }
span.FloatNumber {
  color: var(--number); }
span.Identifier {
  color: var(--identifier); }
span.Identifier > a, li > a {
  color: var(--specialKeyword); }
span.Keyword {
  font-weight: 600;
  color: var(--keyword); }
span.StringLit {
  color: var(--literal); }
span.LongStringLit {
  color: var(--literal); }
span.CharLit {
  color: var(--literal); }
span.EscapeSequence {
  color: var(--escapeSequence); }
span.Operator {
  color: var(--operator); }
span.Punctuation {
  color: var(--punctuation); }
span.ImportPunctuation {
  color: var(--importPunctuation); }
span.Comment, span.LongComment {
  font-style: italic;
  font-weight: 400;
  color: var(--comment); }
span.RegularExpression {
  color: darkviolet; }
span.TagStart {
  color: darkviolet; }
span.TagEnd {
  color: darkviolet; }
span.Key {
  color: #252dbe; }
span.Value {
  color: #252dbe; }
span.RawData {
  color: var(--raw-data); }
span.Assembler {
  color: #252dbe; }
span.Preprocessor {
  color: #252dbe; }
span.Directive {
  color: #252dbe; }
dt > code {
  width: 100%;
}
dd {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}
.muted, .muted > a {
  color: rgb(128, 131, 139);
}
body {
  display: grid;
  grid-template-areas:
    'nav nav nav nav'
    '. aside main .';
  grid-template-columns: 1fr 350px 1050px 1fr;
  grid-gap: 0px;
}
body > nav {
  grid-area: nav;
}
body > main {
  grid-area: main;
}
body > header {
  grid-area: header;
}
body > footer {
  grid-area: footer;
}
body > aside {
  grid-area: aside;
}
body > aside {
  padding: calc(var(--spacing) * 4) var(--spacing);
}
body > nav {
  position: sticky;
  top: 0;
  background-color: #2b2e3b;
  z-index: 9001;
}
nav > nav {
  min-width: 1400px;
  margin: 0 auto;
}
:target {
  background-color: var(--target);
}
pre.listing {
  padding: .375rem .5rem;
}
.group, .ident {
  border: 5px solid #0000;
  border-radius: var(--border-radius);
}
.ident {
  margin: 5px -5px;
}
li > span {
  float: right;
}
aside > a {
  display: block;
  margin-bottom: var(--spacing);
  padding-bottom: calc(var(--spacing) * 0.5);
  border-bottom: var(--border-width) solid var(--accordion-border-color);
}
.contrast {
  color: var(--color);
}
