/* Yellow Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #ffe953;
  --primary-hover: #fbc02d;
  --primary-focus: rgba(253, 216, 53, 0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Yellow Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #ffe953;
    --primary-hover: #ffeb3b;
    --primary-focus: rgba(253, 216, 53, 0.25);
    --primary-inverse: rgba(0, 0, 0, 0.75);
    --background-color: #1e202a;
    --code-background-color: #2b2e3b;
  }
}

/* Yellow Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #ffe953;
  --primary-hover: #ffeb3b;
  --primary-focus: rgba(253, 216, 53, 0.25);
  --primary-inverse: rgba(0, 0, 0, 0.75);
  --background-color: #1e202a;
  --code-background-color: #2b2e3b;
}

/* Yellow (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0.2rem;
}

span.Keyword {
  color: #f92672 }
span.Punctuation {
  font-weight: bold; }
span.ImportPunctuation {
  color: #f92672 }
span.Identifier {
  color: #fff; }
span.Identifier > a, span.SpecialKeyword {
  color: #8be9fd; }
span.DecNumber, span.BinNumber, span.HexNumber, span.OctNumber, span.FloatNumber, span.Bool {
  color: #bd93f9; }
span.StringLit, span.LongStringLit, span.CharLit, span.RawData {
  color: #f1fa8c; }
span.ProcDef {
  color: #a0da2e; }
span.EscapeSequence {
  color: #bd93f9; }
span.Operator {
  color: #f92672 }
span.Comment, span.LongComment {
  font-style: italic;
  font-weight: 400;
  color: #6272a4; }
span.RegularExpression {
  color: darkviolet; }
span.TagStart {
  color: darkviolet; }
span.TagEnd {
  color: darkviolet; }
span.Key {
  color: #252dbe; }
span.Value {
  color: #252dbe; }
span.Assembler {
  color: #252dbe; }
span.Preprocessor {
  color: #252dbe; }
span.Directive {
  color: #252dbe; }
span.Prompt {
  font-weight: bold;
  color: red; }
span.ProgramOutput {
  font-weight: bold;
  color: #808080; }
span.Command, span.Rule, span.Hyperlink, span.Label, span.Reference,
span.Other {
  color: #f8f8f2; }

figure > code {
  width: 100%;
}
code {
  padding: 0.18rem .25rem
}
figcaption {
  font-size: 85%;
}
aside {
  height: fit-content;
  position: sticky;
  top: 150px;
}
body > nav {
  position: sticky;
  top: 0;
  background-color: #2b2e3b;
  z-index: 9001;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

/* Header */
.hero {
  background-color: #2b2e3b;
}

.heroimg {
  float: right;
  margin-right: 3rem;
  display: none;
}
@media(min-width: 992px) {
  .heroimg {
    display: block;
  }
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

/* Main */
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing-company);
    grid-template-columns: auto 25%;
  }
}

form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-company);
  line-height: 1.25;
}
