/* Yellow Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #9a8700;
  --primary-hover: #cdb300;
  --primary-focus: rgba(154, 137, 0, 0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Yellow Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #ffe953;
    --primary-hover: #ffeb3b;
    --primary-focus: rgba(253, 216, 53, 0.25);
    --primary-inverse: rgba(0, 0, 0, 0.75);
    --background-color: #1e202a;
    --code-background-color: #2b2e3b;
  }
}

/* Yellow Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #ffe953;
  --primary-hover: #ffeb3b;
  --primary-focus: rgba(253, 216, 53, 0.25);
  --primary-inverse: rgba(0, 0, 0, 0.75);
  --background-color: #1e202a;
  --code-background-color: #2b2e3b;
}

/* Yellow (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0.2rem;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --keyword: #5e8f60;
  --specialKeyword: #5e8f60;
  --identifier: #222;
  --comment: #484a86;
  --operator: #155da4;
  --punctuation: black;
  --other: black;
  --escapeSequence: #c4891b;
  --number: #252dbe;
  --literal: #a4255b;
  --program: #6060c0;
  --option: #508000;
  --raw-data: #a4255b;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --number: #bd93f9;
    --identifier: #fff;
    --keyword: #f92672;
    --literal: #f1fa8c;
    --escapeSequence: #bd93f9;
    --operator: #f92672;
    --importPunctuation: #f92672;
    --punctuation: var(--color);
    --comment: #6272a4;
    --procdef: #a0da2e;
    --specialKeyword: #8be9fd;
    --raw-data: #f1fa8c;
  }
}
span.SpecialKeyword {
  color: var(--specialKeyword); }
span.ProcDef {
  color: var(--procdef); }
span.DecNumber {
  color: var(--number); }
span.BinNumber {
  color: var(--number); }
span.HexNumber {
  color: var(--number); }
span.OctNumber {
  color: var(--number); }
span.Bool {
  color: var(--number); }
span.FloatNumber {
  color: var(--number); }
span.Identifier {
  color: var(--identifier); }
span.Keyword {
  font-weight: 600;
  color: var(--keyword); }
span.StringLit {
  color: var(--literal); }
span.LongStringLit {
  color: var(--literal); }
span.CharLit {
  color: var(--literal); }
span.EscapeSequence {
  color: var(--escapeSequence); }
span.Operator {
  color: var(--operator); }
span.Punctuation {
  color: var(--punctuation); }
span.ImportPunctuation {
  color: var(--importPunctuation); }
span.Comment, span.LongComment {
  font-style: italic;
  font-weight: 400;
  color: var(--comment); }
span.RegularExpression {
  color: darkviolet; }
span.TagStart {
  color: darkviolet; }
span.TagEnd {
  color: darkviolet; }
span.Key {
  color: #252dbe; }
span.Value {
  color: #252dbe; }
span.RawData {
  color: var(--raw-data); }
span.Assembler {
  color: #252dbe; }
span.Preprocessor {
  color: #252dbe; }
span.Directive {
  color: #252dbe; }

figure > code {
  width: 100%;
}
code {
  padding: 0.18rem .25rem
}
figcaption {
  font-size: 85%;
}
aside {
  height: fit-content;
  position: sticky;
  top: 150px;
}
body > nav {
  position: sticky;
  top: 0;
  background-color: #2b2e3b;
  z-index: 9001;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

/* Header */
.hero {
  background-color: #2b2e3b;
}

.heroimg {
  float: right;
  margin-right: 3rem;
  display: none;
}
@media(min-width: 992px) {
  .heroimg {
    display: block;
  }
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

/* Main */
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing-company);
    grid-template-columns: auto 25%;
  }
}

form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-company);
  line-height: 1.25;
}
